<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nautilus</title>
    </head>

    <body>
        <h1>Restablece tu contraseña.</h1>

        <p>Hola, {{nombre}}:</p>
        
        <p>
            Introduce el siguiente código en la aplicación para continuar con tu reestablecimiento de contraseña:
            <br> <span style="font-weight: 700;">{{code}}</span>
        </p>
    </body>
</html>