<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nautilus</title>
    </head>

    <body>
        <h1>Restablece tu contraseña.</h1>

        <b>¡Función en desarrollo! Copia el link del "click aqui" y pégalo en postMan, petición POST.</b>

        <p>Hola, {{nombre}}:</p>
        
        <p>Para reestablecer tu contraseña haz <a href="{{url}}">click aqui</a> y sigue las instrucciones.</p>
    </body>
</html>