<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>

    <ion-title>Almacenes registrados</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="crearAlmacen()" color="primary">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-refresher *ngIf="updateList === true" slot="fixed" (ionRefresh)="actualizarLista_Almacenes($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item>
    <ion-label style="font-weight: 600; opacity: 50%;" color="secondary">Total registrados:</ion-label>
    <ion-badge slot="end" color="light">{{totalRegistrados}}</ion-badge>
  </ion-item>

  <ion-list *ngFor="let almacen of almacenes">
    <ion-item-sliding>

      <ion-item-options side="start">
        <ion-item-option color="secondary" (click)="editarAlmacen(almacen)">
          <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      
      <ion-item (click)="obtenerProductos_Almacen(almacen)" detail>
        <ion-avatar slot="start">
          <img src="{{baseUrl}}/upload/almacenes/{{almacen.img || noImage}}" />
        </ion-avatar>
        <ion-label>
          <h2 style="font-weight: 600;">{{almacen.nombre}}</h2>
        </ion-label>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="eliminarAlmacen(almacen)">
          <ion-icon name="trash-bin-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      
    </ion-item-sliding>
  </ion-list>

  <div *ngIf="completeListener === true" class="ion-padding-top">
    <p class="ion-text-center" style="opacity: 50%;">{{listenerText}}</p>
  </div>

</ion-content>
